@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400,700|Josefin+Sans:300i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$green: #72980b;
$lGreen: #a6c74e;
$notWhite: #f7f7f7;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $notWhite;
    background-size: cover;
  background-repeat: none;
}

.main {
  background-color: $notWhite;
  padding: 0 60px;
}

.header-container {
  background-color: white;
  background-image: url('https://userscontent2.emaze.com/images/866ce458-4d10-4565-ba9d-be791d6c6ce9/dd86b07ff77fb73b741fea6f3de7a4d5.jpg');
  background-size: cover;
  background-position: center;
  height: 30%;
  width: 100%;
  position: relative;
  padding: 0 60px;
  .container {
    background-color: transparent;
  }
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#header {
  position: absolute;
  font-family: 'Fredoka One', sans-serif;
  text-transform: lowercase;
  bottom: 0px;
  font-size: 90px;
  color: white;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.6);
  i {
    font-size: 70px;
    position: relative;
    bottom: 8px;
    margin-right: 15px;
  }
}

select.form-control {
  display: inline-block;
  width: auto;
  position: relative;
  top: 150px;
}

.food-item {
  box-sizing: border-box;
  border: 10px solid $green;
  border-radius: 20px;
  width: 22%;
  margin: 20px 1.5%;
  padding: 10px 20px;
  background-color: $lGreen;
  h3 {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }
}
